# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Data files
*.csv
*.zip
*.mbox
*.ics
docs/output/*

# OS-specific
.DS_Store
*.swo
*.swp

# IDEs
.vscode/
.idea/


# project-specific config and output
config.json
output/
